[submodule "BS-Plugin-BuildTools"]
	path = BS-Plugin-BuildTools
	url = https://github.com/Zingabopp/BS-Plugin-BuildTools.git
[submodule "obs-websocket-dotnet"]
	path = obs-websocket-dotnet
	url = https://github.com/Zingabopp/obs-websocket-dotnet.git
